@import 'vars';

.container {
  width: 100vw;
  height: $footer-height;
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
