@import 'vars';

.root {
  height: fit-content;
  width: fit-content;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $main-bg-color;
  height: 100vh;
  width: 100vw;
}
