/**
 * Dimensions
 */

/**
 * Colors
 */
 $main-bg-color: #121212;
 $main-bg-color-rgba: #121212;
 $main-bg-color-rgba-transparent: rgba(18,18,18,0.8);
 $grey: #f4f4f4;
 $red: #e65038;
 $green: #63c475;
 $blue: #295ece;
 $white: #fff;
